name: CI
on: [push, pull_request]
jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: adopt-hotspot

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Build release APK
        run: ./gradlew assembleRelease

      - name: Build release AAB
        run: ./gradlew bundleRelease

      - uses: actions/upload-artifact@v4
        with:
          name: unsigned-app.apk
          path: app/build/outputs/apk/release/app-release-unsigned.apk
          if-no-files-found: error

      - uses: actions/upload-artifact@v4
        with:
          name: unsigned-app.aab
          path: app/build/outputs/bundle/release/app-release.aab
          if-no-files-found: error

  deploy:
    name: Deploy to GitHub Releases
    needs: build
    runs-on: ubuntu-22.04
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Get the APK
        uses: actions/download-artifact@v4
        with:
          name: unsigned-app.apk
          path: .


      - name: Get the AAB
        uses: actions/download-artifact@v4
        with:
          name: unsigned-app.aab
          path: .

      - name: Detect latest build tool version
        shell: bash
        run: |
          BUILD_TOOL_VERSION=$(ls /usr/local/lib/android/sdk/build-tools/ | tail -n 1)
          echo "BUILD_TOOL_VERSION=$BUILD_TOOL_VERSION" >> $GITHUB_ENV
          echo Latest build tool version is: $BUILD_TOOL_VERSION

      - name: Sign the APK & AAB
        uses: r0adkll/sign-android-release@v1
        id: sign_app
        with:
          releaseDirectory: .
          signingKeyBase64: ${{ secrets.ANDROID_SIGNING_KEY }}
          alias: ${{ secrets.SIGNING_KEY_ALIAS }}
          keyStorePassword: ${{ secrets.SIGNING_KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.SIGNING_KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: ${{ env.BUILD_TOOL_VERSION }}

      - name: List release files
        run: ls -l

      - name: Rename release files
        run: |
          mv ./app-release-unsigned-signed.apk ./httptoolkit.apk
          mv ./app-release.aab ./httptoolkit.aab

      - name: Publish the APK & AAB to GitHub Releases
        uses: svenstaro/upload-release-action@v2
        with:
          prerelease: true
          file: ./httptoolkit{.apk,.aab}
          file_glob: true
          tag: ${{ github.ref }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish the AAB to Google Play
        uses: r0adkll/upload-google-play@v1.0.15
        with:
          serviceAccountJsonPlainText: ${{ secrets.PLAY_SERVICE_ACCOUNT_JSON }}
          packageName: tech.httptoolkit.android.v1
          releaseFiles: ./httptoolkit.aab
          track: production